/* Enter Code Page */

#code-input {
  width: 255px;
  height: 65px;
}

.sponsor {
  opacity: 0.6;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  button.big-button {
    width: 210px;
    height: 60px;
    font-size: 24px;
    padding: 8px 16px;
    margin: 8px;
  }

  a {
    font-size: 24px;
  }

  #code-input {
    width: 210px;
    height: 60px;
  }

  .input {
    font-size: 24px;
  }
}
