#quiz-container {
  padding: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#quiz-code {
  color: var(--secondary-dm);
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  vertical-align: center;
}

/* laptop view */
@media (min-width: 600px) {
}
