/* colors */
:root {
  --background-dm: #010922;
  --alt-action-dm: #e4af3a;

  --primary-800-dm: #63a9f8;
  --primary-500-dm: #4472a8;

  --secondary-dm: #4b576b;

  --text-dm: #ffffff;
  --secondary-text-dm: #767676;

  --green-800: #31cd63;
  --green-800-bg: #a7fec233;

  --red-800: #fe2c55;
  --red-800-bg: #f88fa233;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 20px;
  padding: 0;
  background-color: var(--background-dm);
  color: var(--text-dm);
}

button.big-button {
  width: 255px;
  height: 65px;

  font-size: 30px;
  font-weight: 700;

  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primary-800-dm);
  color: var(--text-dm);
  border: none;
  cursor: pointer;

  transition: background-color 0.3s;

  /* no text select */
  user-select: none;
}

button.big-button:active {
  background-color: var(--primary-500-dm);
}

a {
  font-size: 28px;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

.column-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input {
  --webkit-appearance: none;

  background-color: var(--text-dm);

  border-style: solid;
  border-color: var(--secondary-text-dm);
  border-width: 3px;

  border-radius: 10px;
  outline: none;

  text-align: center;
  font-size: 30px;
  color: var(--secondary-text-dm);
}

/* Enter Code Page */

#code-input {
  width: 255px;
  height: 65px;
}

.sponsor {
  opacity: 0.6;
}
